<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @contact_request.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @contact_request.last_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @contact_request.email %>
</p>

<p>
  <strong>Subject:</strong>
  <%= @contact_request.subject %>
</p>

<p>
  <strong>Message:</strong>
  <%= @contact_request.message %>
</p>

<%= link_to 'Edit', edit_contact_request_path(@contact_request) %> |
<%= link_to 'Back', contact_requests_path %>
