<%= form_for(project_profile) do |f| %>
  <% if project_profile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(project_profile.errors.count, "error") %> prohibited this project_profile from being saved:</h2>

      <ul>
      <% project_profile.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.hidden_field :step, value: params[:step] %>
  <h3 class="headline centered margin-top-5 margin-bottom-20">Who Knows About Your Idea?</h3>
  <div class="row">
    <!-- Patent Form Step 2 -->
    <div class="col-md-2"></div>
    <div class="col-md-8">

      <section id="provisional-step-2">
        <p class="text-center">Click on the box that best describes how you have kept your secret</p>
          <%= f.hidden_field :disclosure_flag %>
          <div class="row">
            <div class="col-md-6">
              <div class="jumbo-select good">
                <h2 class="text-center">I am a STFU! Jedi.</h2>
                <ul class="list-4">
                  <li>I have not spoken to anyone publicly about my idea.</li>
                  <li>I have not written anything publicly about my idea.</li>
                  <li>I have not advertised my idea in any publications or broadcasts.</li>
                  <li>I have learned that you really can't trust anyone when it comes to protecting anything.</li>
                </ul>
              </div>
            </div>
            <div class="col-md-6">
              <div class="jumbo-select bad">
                <h2 class="text-center">Everyone!</h2>
                <ul class="list-5">
                  <li>People that shop for anything have probably seen or purchased something exactly the same or similar.</li>
                  <li>It's not really my idea, I'm just trying to file it before anyone else does.</li>
                  <li>Ok, it's not even a new idea.</li>
                  <li>I'm a dishonest scam artist that steals other's ideas.</li>
                </ul>
              </div>
            </div>
          </div>
      </section>
    </div>
    <div class="col-md-2"></div>
    <!-- Patent Form Step 2 End -->
  </div>
<% end %>
