<p id="notice"><%= notice %></p>

<p>
  <strong>Patentabilities:</strong>
  <%= project_profile.patentabilities %>
</p>

<p>
  <strong>Disclosures:</strong>
  <%= project_profile.disclosures %>
</p>

<p>
  <strong>Number of inventors:</strong>
  <%= project_profile.number_of_inventors %>
</p>

<p>
  <strong>Multi creator:</strong>
  <%= project_profile.multi_creator %>
</p>

<p>
  <strong>Purpose:</strong>
  <%= project_profile.purpose %>
</p>

<p>
  <strong>Improvement 1:</strong>
  <%= project_profile.improvement_1 %>
</p>

<p>
  <strong>Improvement 2:</strong>
  <%= project_profile.improvement_2 %>
</p>

<p>
  <strong>Gaps:</strong>
  <%= project_profile.gaps %>
</p>

<p>
  <strong>Improve gaps:</strong>
  <%= project_profile.improve_gaps %>
</p>

<p>
  <strong>Profile steps doc:</strong>
  <%= project_profile.profile_steps_doc_id %>
</p>

<p>
  <strong>Component relationships doc:</strong>
  <%= project_profile.component_relationships_doc_id %>
</p>

<p>
  <strong>Project requirements doc:</strong>
  <%= project_profile.project_requirements_doc_id %>
</p>

<p>
  <strong>Working detail doc:</strong>
  <%= project_profile.working_detail_doc_id %>
</p>

<p>
  <strong>How to:</strong>
  <%= project_profile.how_to %>
</p>

<p>
  <strong>Necessities options:</strong>
  <%= project_profile.necessities_options %>
</p>

<p>
  <strong>Statement of use:</strong>
  <%= project_profile.statement_of_use %>
</p>

<p>
  <strong>Bubba story doc:</strong>
  <%= project_profile.bubba_story_doc_id %>
</p>

<p>
  <strong>Active:</strong>
  <%= project_profile.active %>
</p>

<p>
  <strong>Upid:</strong>
  <%= project_profile.upid %>
</p>

<p>
  <strong>Idyuh:</strong>
  <%= project_profile.idyuh_id %>
</p>

<p>
  <strong>Project:</strong>
  <%= project_profile.project_id %>
</p>

<p>
  <strong>Member:</strong>
  <%= project_profile.member_id %>
</p>

<%= link_to 'Edit', edit_project_profile_path(project_profile) %> |
<%= link_to 'Back', project_profiles_path %>
