<%= form_for(project) do |f| %>
    <%= render_errors(project) if   project.errors.any? %>
    <div class="row">
      <h3 class="headline centered margin-top-5 margin-bottom-20">Create Your Bubba Story</h3>
      <div class="col-md-3"></div>
      <div class="col-md-6">
        <%= f.fields_for :project_profile do |ff|  %>
            <section id="provisional-step-5">
              <label for="">
                <%= ff.text_area :statement_of_use %>
              </label>
            </section>
        <% end %>
        <%= f.submit %>
      </div>
      <div class="col-md-3"></div>
    </div>
<% end %>
