<%= form_for(project) do |f| %>
  <%= render_errors(project) if project.errors.any? %>
  <h3 class="headline centered margin-top-5 margin-bottom-20">What Problem Does Your Patent Solve?</h3>
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <%= f.fields_for :project_profile do |ff|  %>
          <section id="provisional-step-5">
            <label for="">
              <%= ff.text_area :problem %>
            </label>
          </section>
      <% end %>
    </div>
    <div class="col-md-3"></div>
  </div>
  <h3 class="headline centered margin-top-5 margin-bottom-20">How Does Your Patent Solve The Problem?</h3>
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <%= f.fields_for :project_profile do |ff|  %>
          <section id="provisional-step-5">
            <label for="">
              <%= ff.text_area :solution %>
            </label>
          </section>
      <% end %>
      <%= f.submit %>
    </div>
    <div class="col-md-3"></div>
  </div>
<% end %>
