<%= form_for(project) do |f| %>
    <%= render_errors(project) if project.errors.any? %>
    <div class="row">
      <h3 class="headline centered margin-top-5 margin-bottom-20">What Other Uses Does Your Product Or Process Have?</h3>
      <div class="col-md-3"></div>
      <div class="col-md-6">
        <%= f.fields_for :project_profile do |ff|  %>
            <section id="provisional-step-10">
              <label for="">
                <%= ff.file_field :draft_a %>
              </label>
              <label for="">
                <%= ff.file_field :draft_b %>
              </label>
              <label for="">
                <%= ff.file_field :draft_c %>
              </label>
            </section>
        <% end %>
        <%= f.submit %>
      </div>
      <div class="col-md-3"></div>
    </div>
<% end %>
