<!-- Video Background -->
<div class="fullscreen video background" data-color="#373c47" data-color-opacity="0.94">

  <video poster="images/about-us-poster.jpg" id="bgvid" loop autoplay muted>
    <source src="https://0.s3.envato.com/h264-video-previews/e8c86aeb-e126-40dc-814d-e0ee8e52cd87/13811913.mp4" type="video/webm">
    <source src="https://0.s3.envato.com/h264-video-previews/e8c86aeb-e126-40dc-814d-e0ee8e52cd87/13811913.mp4" type="video/mp4">
  </video>

  <div class="parallax-content-container">
    <div class="parallax-content">
      <h2>we're inventors ourselves</h2>
      <div class="scroll-to-content ln ln-icon-Down-3"></div>
    </div>
  </div>

</div>
<!-- Video Background / End  -->


<!-- Content
================================================== -->
<div class="container margin-top-60">
  <div class="row">

    <!-- Intro text -->
    <div class="col-md-8">
      <p class="about-me-intro margin-top-20">We bring to the table win-win survival strategies to ensure proactive security of your intellectual property.</p>
    </div>

    <!-- Intro buttons -->
    <div class="col-md-4 margin-top-50">
      <a href="" class="button medium border margin-bottom-10">Our Services</a>
      <%= link_to 'Contact Us', new_contact_request_path, class: 'button medium' %>
    </div>

  </div>
</div>


<!-- Full Width Icons -->
<div class="full-width-box-container flex margin-top-70">

  <!-- Icon Container -->
  <div class="full-width-box-content alt image-bg" data-background-image="<%= image_path('about-01a.jpg') %>"></div>

  <!-- Icon Container -->
  <div class="full-width-box-content alt dark-text" data-background-color="#f6f6f6">
    <div class="content-alignment">
      <div class="box-content">
        <h3><strong>Who We Are?</strong></h3>
        <p>Podcasting operational change management inside of workflows to establish a framework. Taking seamless key performance indicators offline to maximise the long tail.</p>
      </div>
    </div>
  </div>

  <!-- Icon Container -->
  <div class="full-width-box-content alt image-bg" data-background-image="<%= image_path('about-01b.jpg') %>"></div>

</div>
<!-- Full Width Icons / End -->


<!-- Full Width Icons -->
<div class="full-width-box-container flex">

  <!-- Icon Container -->
  <div class="full-width-box-content alt light-text" data-background-color="#262626">
    <div class="content-alignment">
      <div class="box-content">
        <h3><strong>Our Mission</strong></h3>
        <p>Interactively procrastinate high-payoff content without backward-compatible data. Quickly cultivate optimal processes and tactical architectures</p>
      </div>
    </div>
  </div>


  <!-- Icon Container -->
  <div class="full-width-box-content alt image-bg" data-background-image="<%= image_path('about-01c.jpg') %>"></div>

  <!-- Icon Container -->
  <div class="full-width-box-content alt light-text" data-background-color="#44b272">
    <div class="content-alignment">
      <div class="box-content">
        <h3><strong>Our Approach </strong></h3>
        <p>Collaboratively administrate empowered markets via plug-and-play networks. Dynamically procrastinate B2C users after installed base benefits.</p>
      </div>
    </div>
  </div>

</div>
<!-- Full Width Icons / End -->


<!-- Team members -->
<div class="container">
  <div class="row">
    <div class="col-md-12"><h3 class="headline with-border">Meet The Team</h3></div>
  </div>
</div>


<!-- Team Members Carousel -->
<div class="container">
  <div class="row">

    <!-- Carousel -->
    <div class="basic-carousel dots projects style-5 ">

      <!-- Item -->
      <div class="item">
        <a>
          <%= image_tag('team-01.jpg') %>
          <div class="overlay">
            <div class="overlay-content">
              <h4>Justin Jaehne</h4>
              <span>Co-Founder/CEO</span>
            </div>
          </div>
        </a>
      </div>

      <!-- Item -->
      <div class="item">
        <a>
          <%= image_tag('team-02.jpg') %>
          <div class="overlay">
            <div class="overlay-content">
              <h4>Richard Kellermeyer</h4>
              <span>Co-Founder/CTO</span>
            </div>
          </div>
          <div class="plus-icon"></div>
        </a>
      </div>

      <!-- Item -->
      <div class="item">
        <a>
          <%= image_tag('team-03.jpg') %>
          <div class="overlay">
            <div class="overlay-content">
              <h4>David Tyreman-Garcia</h4>
              <span>Brand Identity</span>
            </div>
          </div>
          <div class="plus-icon"></div>
        </a>
      </div>

      <!-- Item -->
      <div class="item">
        <a>
          <%= image_tag('team-04.jpg') %>
          <div class="overlay">
            <div class="overlay-content">
              <h4>Ryan Moret</h4>
              <span>Developer</span>
            </div>
          </div>
          <div class="plus-icon"></div>
        </a>
      </div>

      <!-- Item -->
      <div class="item">
        <a>
          <%= image_tag('team-05.jpg') %>
          <div class="overlay">
            <div class="overlay-content">
              <h4>Khushboo Yadav</h4>
              <span>Project Manager</span>
            </div>
          </div>
          <div class="plus-icon"></div>
        </a>
      </div>

      <!-- Item -->
      <div class="item">
        <a>
          <%= image_tag('team-02.jpg') %>
          <div class="overlay">
            <div class="overlay-content">
              <h4>Laura Alabed-Olssen</h4>
              <span>Marketing</span>
            </div>
          </div>
          <div class="plus-icon"></div>
        </a>
      </div>

    </div>

  </div>
</div>
<!-- Team members / End -->