<!-- Slider
  ================================================== -->

<!-- Revolution Slider -->
<div id="rev_slider_4_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container" data-alias="classicslider1" style="margin:0px auto;background-color:transparent;padding:0px;margin-top:0px;margin-bottom:0px;">

  <!-- 5.0.7 auto mode -->
  <div id="rev_slider_4_1" class="rev_slider home fullwidthabanner" style="display:none;" data-version="5.0.7">
    <ul>
      <!-- Slide  -->
      <li data-index="rs-1" data-transition="fade" data-slotamount="default"  data-easein="Power4.easeInOut" data-easeout="Power4.easeInOut" data-masterspeed="1000"  data-rotate="0"  data-fstransition="fade" data-fsmasterspeed="800" data-fsslotamount="7" data-saveperformance="off">

        <!-- Video Layer -->
        <div class="rs-background-video-layer"
             data-forcerewind="on"
             data-volume="mute"
             data-ytid="T8--OggjJKQ"
             data-videowebm ="<%= image_path('idyuh-take-1.mp4') %>"
             data-videomp4 ="<%= image_path('idyuh-take-1.mp4') %>"
             data-videorate="1.5"
             data-videowidth="100%"
             data-videoheight="100%"
             data-videocontrols="none"
             data-videoloop="loopandnoslidestop"
             data-forceCover="1"
             data-aspectratio="16:9"
             data-autoplay="true"
             data-autoplayonlyfirsttime="true"
             data-nextslideatend="false" >
        </div>

        <!-- Caption-->
        <div class="tp-caption centered custom-caption-2 tp-shape tp-shapewrapper tp-resizeme rs-parallaxlevel-0"
             id="slide-1-layer-2"
             data-x="['center','center','center','center']" data-hoffset="['0']"
             data-y="['middle','middle','middle','middle']" data-voffset="['20']"
             data-width="['640','640', 640','420','420']"
             data-height="auto"
             data-whitespace="nowrap"
             data-transform_idle="o:1;"
             data-transform_in="y:0;opacity:0;s:1000;e:Power2.easeOutExpo;s:400;e:Power2.easeOutExpo"
             data-transform_out=""
             data-mask_in="x:0px;y:[20%];s:inherit;e:inherit;"
             data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
             data-start="1000"
             data-responsive_offset="on">

          <!-- Caption Content -->
          <div class="R_title margin-bottom-15"
               id="slide-2-layer-1"
               data-x="['center','center','center','center']"
               data-hoffset="['0','0','0','0']"
               data-y="['middle','middle','middle','middle']"
               data-voffset="['-40','-40','-20','-80']"
               data-fontsize="['58','52', '42','36','22']"
               data-lineheight="['84','78','70','55','35']"
               data-width="['640','640', 540','420','320']"
               data-height="none" data-whitespace="normal"
               data-transform_idle="o:1;"
               data-transform_in="y:-50px;sX:2;sY:2;opacity:0;s:1000;e:Power4.easeOut;"
               data-transform_out="opacity:0;s:300;"
               data-start="600"
               data-splitin="none"
               data-splitout="none"
               data-basealign="slide"
               data-responsive_offset="off"
               data-responsive="off">
          </div>
               <!--style="z-index: 6; color: #fff; letter-spacing: 0px; font-weight: 700; ">The Uprising Creative-->

          <!--<div class="caption-text">Sphene combines all the features you'll need to launch websites of almost any kind. Building an unique and beautiful website never been easier. </div>-->
          <!--<a href="#" class="button medium">Purchase Now</a>-->
        </div>

      </li>
    </ul>
    <div class="tp-static-layers"></div>

  </div>
</div>
<!-- Revolution Slider / End -->

<!-- Infobox -->
<div class="info-banner-fw">
  <div class="container">
    <div class="row">
      <div class="col-md-12">We're Looking For New Members! <%= link_to 'Learn More', pages_membership_information_path %></div>
    </div>
  </div>
</div>
<!-- Infobox / End -->

<!-- Content
================================================== -->

<!-- Section With Background -->
<section class="section-background olive-bg dark-text">
  <div class="container">

    <div class="row margin-top-10">

      <!-- Text Block -->
      <div class="col-md-4">
        <h2 class="white-text"><strong>Why Choose Idyuh?</strong></h2>
      </div>

      <!-- Icons -->
      <div class="col-md-8">

        <div class="row">
          <div class="col-md-6 col-sm-6">
            <div class="icon-box-3">
              <a href="#" class="bold-link"><i class="ln ln-icon-Add-File"></i></a>
              <h4><a href="#" class="bold-link">First To File.</a></h4>
              <p>Did anyone tell you that you MUST be the first to file?</p>
              <p class="faq">
                The USPTO has a special rule that does benefit being the first-to-disclose certain circumstances.
                If you disclose the invention in some public forums, ie: Conventions or Conferences, you have one year to file a patent for the idea.
                Disclosure may prevent someone else from patenting your invention.
                This may NOT protect you in ALL foreign markets.
                Why chance it?
              </p>
              <a href=<%= projects_path %>>Apply for your patent now!</a>
            </div>
          </div>

          <div class="col-md-6 col-sm-6">
            <div class="icon-box-3">
              <a href="#" class="bold-link"><i class="ln ln-icon-Mute"></i></a>
              <h4><a href="#" class="bold-link">Discretion!</a></h4>
              <p>As soon as you disclose, you may lose the right to call it YOURS!</p>
              <p class="faq">
                As in First-To-File, there are certain circumstances where disclosure could work in your favor.
                The risks may outweigh the reward though.
                Foreign patent organizations may or may not honor the one year after disclosure rule.
                Always make sure you are doing your homework when it comes to research ... Diligence is key.
                We make searches easy, and far less scary.
              </p>
              <a href="#">Search Now</a>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6 col-sm-6">
            <div class="icon-box-3">
              <a href="#" class="bold-link"><i class="ln ln-icon-Heart"></i></a>
              <h4><a href="#" class="bold-link">We Care!</a></h4>
              <p>Here at Idyuh, your IP safety is our top priority.
                We dig success too!
                Our team is currently developing new features, personal projects, and building companies while they work. We thrive on success!</p>
              <a href="#">Checkout "Behind The Scenes"</a>
          </div>
        </div>

          <div class="col-md-6 col-sm-6">
            <div class="icon-box-3">
              <a href="#" class="bold-link"><i class="ln ln-icon-Face-Style2"></i></a>
              <h4><a href="#" class="bold-link">We're Experienced</a></h4>
              <p>
                We are currently building the worlds largest network of experts,
                service providers, and mentors that are offering to help you with your idea.
                <br>
                Would you like to offer your services and make some extra cash?
              </p>
              <a href=<%= mentors_path %>>Click Here To Learn More!</a>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>
</section>
<!-- Section With Background / End -->


<!-- Image Edge -->
<div class="image-edge dark margin-top-0" data-background-image="<%= image_path('footer_lodyas.png') %>">

  <div class="image-edge-content">
    <h2>Consider us the "Safety Deposit Box Of Intellectual Property"</h2>
    <br>
    <p>Did we mention that we're secure?</p>
    <p>Oh yeah! We have our own provisional patent rolling that ensures that your IP is 100% safe.</p>
    <br>
    <%= link_to 'Patent Your Idea Now!', projects_path, class: 'button border medium white margin-bottom-40' %>
  </div>

  <div class="edge-bg" data-background-image="<%= image_path('safe-deposit-boxes.jpg') %>"></div>

</div>
<!-- Image Edge / End -->

<!-- Membership Section -->
<section class="section-background main-color-bg white-text">
  <div class="container">

    <div class="row margin-top-10">

      <!-- Text Block -->
      <div class="col-md-4">
        <h2><strong>Looking For More?</strong></h2>
        <h4><strong>We're Looking For New Members!</strong></h4>
        <h4><strong>It's 100%Free *</strong></h4>
        <%= link_to 'Join Today!', pages_membership_information_path, class: 'button border medium white margin-bottom-40' %>

      </div>

      <!-- Icons -->
      <div class="col-md-8">

        <div class="row">
          <div class="col-md-6 col-sm-6">
            <div class="icon-box-3">
              <a href="#" class="bold-link"><i class="ln ln-icon-Indent-FirstLine"></i></a>
              <h4><a href="#" class="bold-link">Be First Inline To Access New Features</a></h4>
              <ul class="no-bullet">
                <li>We're constantly adding new features.</li>
                <li>Our feature road map spans years.</li>
                <li>We'll admit, you're our test subjects.</li>
                <li>You'll be able to use many new features for free.*</li>
              </ul>
            </div>
          </div>

          <div class="col-md-6 col-sm-6">
            <div class="icon-box-3">
              <a href="#" class="bold-link"><i class="ln ln-icon-People-onCloud"></i></a>
              <h4><a href="#" class="bold-link">Collaborative Tools</a></h4>
              <h4 class="subheader">We will soon be offering the following tools:</h4>
              <ul class="no-bullet">
                <li>Document Collaboration</li>
                <li>Authoring Platform</li>
                <li>Whiteboarding</li>
              </ul>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6 col-sm-6">
            <div class="icon-box-3">
              <a href="#" class="bold-link"><i class="ln ln-icon-Affiliate"></i></a>
              <h4><a href="#" class="bold-link">There's no need for you to hold back. In fact, we've got your back!</a></h4>
              <ul class="no-bullet">
                <li>We're secure.</li>
                <li>We're helpful.</li>
                <li>We care.</li>
                <li>We thrive on success!</li>
              </ul>
            </div>
          </div>

          <div class="col-md-6 col-sm-6">
            <div class="icon-box-3">
              <a href="#" class="bold-link"><i class="ln ln-icon-Dollar"></i></a>
              <h4><a href="#" class="bold-link">If It's All About The Benjamin's To You ...</a></h4>
              <ul class="no-bullet">
                <li>We save you money.</li>
                <li>Free document storage.*</li>
                <li>Pairing with the investors you need.</li>
                <li>Free services to some levels of members.*</li>
              </ul>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>
</section>
<!-- Membership Section / END -->

<!-- Testimonials -->
<section class="section-background with-testimonials" data-background-color="#222c42">

  <h3>Who We Work With</h3>

  <div class="testimonial-carousel full-width arrows">

    <div class="item">
      <div class="testimonial">
        <p>Had I not known to STFU!, I may have blabbed to my buddies how awesome my idea was. Thank You Idyuh! Finally someone has come along to lead me down the path to success!</p>
        <div class="testimonial-author">
          <h4>Nicola Tesla</h4>
          <span>Edison's Companies</span>
        </div>
      </div>
    </div>


    <div class="item">
      <div class="testimonial">
        "<p>"You mean to tell me that I can easily search for existing patents and save money by knowing what has already been claimed? I'm sold!"</p>
        <div class="testimonial-author">
          <h4></h4>
          <span>Google</span>
        </div>
      </div>
    </div>


    <div class="item">
      <div class="testimonial">
        <p>What impressed me was the fast response to questions and helpful community conversation in the support forums.</p>
        <div class="testimonial-author">
          <h4>Thomas Johnson</h4>
          <span>Microsoft</span>
        </div>
      </div>
    </div>

    <div class="item">
      <div class="testimonial">
        <p>Sphene is ridiculously powerful and easy to use, beginner or advanced. Always been on the hunt for handcrafted, clean themes.</p>
        <div class="testimonial-author">
          <h4>John Smith</h4>
          <span>Adobe</span>
        </div>
      </div>
    </div>


  </div>

</section>
<!-- Testimonials / End -->