<!-- Slider
  ================================================== -->

<!-- Revolution Slider -->
<div id="rev_slider_4_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container" data-alias="classicslider1" style="margin:0px auto;background-color:transparent;padding:0px;margin-top:0px;margin-bottom:0px;">

  <!-- 5.0.7 auto mode -->
  <div id="rev_slider_4_1" class="rev_slider home fullwidthabanner" style="display:none;" data-version="5.0.7">
    <ul>
      <!-- Slide  -->
      <li data-index="rs-1" data-transition="fade" data-slotamount="default"  data-easein="Power4.easeInOut" data-easeout="Power4.easeInOut" data-masterspeed="1000"  data-rotate="0"  data-fstransition="fade" data-fsmasterspeed="800" data-fsslotamount="7" data-saveperformance="off">

        <!-- Video Layer -->
        <div class="rs-background-video-layer"
             data-forcerewind="on"
             data-volume="mute"
             data-ytid="T8--OggjJKQ"
             data-videowebm ="https://0.s3.envato.com/h264-video-previews/066ac283-7b0a-47ef-9b2a-9cfe5ee919ff/10328986.mp4"
             data-videomp4 ="https://0.s3.envato.com/h264-video-previews/066ac283-7b0a-47ef-9b2a-9cfe5ee919ff/10328986.mp4"
             data-videorate="1.5"
             data-videowidth="100%"
             data-videoheight="100%"
             data-videocontrols="none"
             data-videoloop="loopandnoslidestop"
             data-forceCover="1"
             data-aspectratio="16:9"
             data-autoplay="true"
             data-autoplayonlyfirsttime="false"
             data-nextslideatend="true" >
        </div>

        <!-- Caption-->
        <div class="tp-caption centered custom-caption-2 tp-shape tp-shapewrapper tp-resizeme rs-parallaxlevel-0"
             id="slide-1-layer-2"
             data-x="['center','center','center','center']" data-hoffset="['0']"
             data-y="['middle','middle','middle','middle']" data-voffset="['20']"
             data-width="['640','640', 640','420','420']"
             data-height="auto"
             data-whitespace="nowrap"
             data-transform_idle="o:1;"
             data-transform_in="y:0;opacity:0;s:1000;e:Power2.easeOutExpo;s:400;e:Power2.easeOutExpo"
             data-transform_out=""
             data-mask_in="x:0px;y:[20%];s:inherit;e:inherit;"
             data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
             data-start="1000"
             data-responsive_offset="on">

          <!-- Caption Content -->
          <div class="R_title margin-bottom-15"
               id="slide-2-layer-1"
               data-x="['center','center','center','center']"
               data-hoffset="['0','0','0','0']"
               data-y="['middle','middle','middle','middle']"
               data-voffset="['-40','-40','-20','-80']"
               data-fontsize="['58','52', '42','36','22']"
               data-lineheight="['84','78','70','55','35']"
               data-width="['640','640', 540','420','320']"
               data-height="none" data-whitespace="normal"
               data-transform_idle="o:1;"
               data-transform_in="y:-50px;sX:2;sY:2;opacity:0;s:1000;e:Power4.easeOut;"
               data-transform_out="opacity:0;s:300;"
               data-start="600"
               data-splitin="none"
               data-splitout="none"
               data-basealign="slide"
               data-responsive_offset="off"
               data-responsive="off"
          </div>
               <!--style="z-index: 6; color: #fff; letter-spacing: 0px; font-weight: 700; ">The Uprising Creative-->

          <!--<div class="caption-text">Sphene combines all the features you'll need to launch websites of almost any kind. Building an unique and beautiful website never been easier. </div>-->
          <!--<a href="#" class="button medium">Purchase Now</a>-->
        </div>

      </li>

      <li data-index="rs-1" data-transition="fade" data-slotamount="default"  data-easein="Power4.easeInOut" data-easeout="Power4.easeInOut" data-masterspeed="1000"  data-rotate="0"  data-fstransition="fade" data-fsmasterspeed="800" data-fsslotamount="7" data-saveperformance="off">

        <!-- Video Layer -->
        <div class="rs-background-video-layer"
             data-forcerewind="on"
             data-volume="mute"
             data-ytid="T8--OggjJKQ"
             data-videowebm ="https://0.s3.envato.com/h264-video-previews/2483040.mp4"
             data-videomp4 ="https://0.s3.envato.com/h264-video-previews/2483040.mp4"
             data-videorate="1.5"
             data-videowidth="100%"
             data-videoheight="100%"
             data-videocontrols="none"
             data-videoloop="loopandnoslidestop"
             data-forceCover="1"
             data-aspectratio="16:9"
             data-autoplay="true"
             data-autoplayonlyfirsttime="false"
             data-nextslideatend="true" >
        </div>

        <!-- Caption-->
        <div class="tp-caption centered custom-caption-2 tp-shape tp-shapewrapper tp-resizeme rs-parallaxlevel-0"
             id="slide-1-layer-2"
             data-x="['center','center','center','center']" data-hoffset="['0']"
             data-y="['middle','middle','middle','middle']" data-voffset="['20']"
             data-width="['640','640', 640','420','420']"
             data-height="auto"
             data-whitespace="nowrap"
             data-transform_idle="o:1;"
             data-transform_in="y:0;opacity:0;s:1000;e:Power2.easeOutExpo;s:400;e:Power2.easeOutExpo"
             data-transform_out=""
             data-mask_in="x:0px;y:[20%];s:inherit;e:inherit;"
             data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
             data-start="1000"
             data-responsive_offset="on">

          <!-- Caption Content -->
          <div class="R_title margin-bottom-15"
               id="slide-2-layer-1"
               data-x="['center','center','center','center']"
               data-hoffset="['0','0','0','0']"
               data-y="['middle','middle','middle','middle']"
               data-voffset="['-40','-40','-20','-80']"
               data-fontsize="['58','52', '42','36','22']"
               data-lineheight="['84','78','70','55','35']"
               data-width="['640','640', 540','420','320']"
               data-height="none" data-whitespace="normal"
               data-transform_idle="o:1;"
               data-transform_in="y:-50px;sX:2;sY:2;opacity:0;s:1000;e:Power4.easeOut;"
               data-transform_out="opacity:0;s:300;"
               data-start="600"
               data-splitin="none"
               data-splitout="none"
               data-basealign="slide"
               data-responsive_offset="off"
               data-responsive="off"
        </div>
        <!--style="z-index: 6; color: #fff; letter-spacing: 0px; font-weight: 700; ">The Uprising Creative-->

        <!--<div class="caption-text">Sphene combines all the features you'll need to launch websites of almost any kind. Building an unique and beautiful website never been easier. </div>-->
        <!--<a href="#" class="button medium">Purchase Now</a>-->
    </div>

    </li>
    </ul>
    <div class="tp-static-layers"></div>

  </div>
</div>
<!-- Revolution Slider / End -->


<!-- Content
================================================== -->

<!-- Section With Background -->
<section class="section-background main-color-bg white-text">
  <div class="container">

    <div class="row margin-top-10">

      <!-- Text Block -->
      <div class="col-md-4">
        <h2 class="section-title margin-bottom-40"><strong>You Should Feel Good About patenting Your Idea</strong></h2>
      </div>

      <!-- Icons -->
      <div class="col-md-8">

        <div class="row">
          <div class="col-md-6 col-sm-6">
            <div class="icon-box-3">
              <a href="#" class="bold-link"><i class="ln ln-icon-Rain-Drop"></i></a>
              <h4><a href="#" class="bold-link">First To File</a></h4>
              <p>Did anyone tell you that you MUST be the first to file, and NOT the first to invent your idea?</p>
            </div>
          </div>

          <div class="col-md-6 col-sm-6">
            <div class="icon-box-3">
              <a href="#" class="bold-link"><i class="ln ln-icon-Anchor-2"></i></a>
              <h4><a href="#" class="bold-link">STFU!</a></h4>
              <p>Never chat, allude to, post about, or make public any potentially patentable idea you have! As soon as you disclose ANYTHING about the patentable idea, you lose the right to call it YOURS!</p>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6 col-sm-6">
            <div class="icon-box-3">
              <a href="#" class="bold-link"><i class="ln ln-icon-Rotation"></i></a>
              <h4><a href="#" class="bold-link">We Care!</a></h4>
              <p>We aren't here to charge you by the hour, while we talk about how awesome our golf game was this past weekend. We don't stack fees and expect you to be O.K. with it. We value success.</p>
            </div>
          </div>

          <div class="col-md-6 col-sm-6">
            <div class="icon-box-3">
              <a href="#" class="bold-link"><i class="ln ln-icon-Smartphone-3"></i></a>
              <h4><a href="#" class="bold-link">We're Experienced</a></h4>
              <p>This isn't our first rodeo with a patent, business, or idea. We've had plenty, we know how painful it is to file a patent or secure your IP. We are in the business of changing that. If you feel good about your experience, we have accomplished our goal.</p>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>
</section>
<!-- Section With Background / End -->


<!-- Image Edge -->
<div class="image-edge dark margin-top-0" data-background-image="images/footer_lodyas.png">

  <div class="image-edge-content">
    <h2>Don't Hestitate, Let Out Your Creative Beast</h2>
    <br>
    <p>Did we mention that we're secure?</p>
    <p>Oh yeah! We have our own provisional patent rolling that ensures that your IP is 100% safe.</p>
    <p>Consider us the "Safety Deposit Box Of Intellectual Property"</p>
    <br>
    <%= link_to 'Patent Your Idea Now!', projects_path, class: 'button border medium white margin-bottom-40' %>
  </div>

  <div class="edge-bg" data-background-image='https://image-pd.s3.envato.com/files/65144042/762_MIT_7192%20E.jpg'></div>

</div>
<!-- Image Edge / End -->



<!-- Projects -->
<div class="projects style-1 isotope-wrapper fw">

  <div class="isotope-sizer"></div>

  <!-- Item -->
  <div class="isotope-item identity print">
    <a href="single-project-creative-style-1.html">
      <img src="<%= image_path('project-01.jpg') %>" alt="">
      <div class="overlay">
        <div class="overlay-content">
          <h4>Branding</h4>
          <span>Our group of branding specialists are ready to help you define your identity.</span>
        </div>
      </div>
    </a>
  </div>

  <!-- Item -->
  <div class="isotope-item print">
    <a href="single-project-creative-style-2.html">
      <img src="<%= image_path('project-02.jpg') %>" alt="">
      <div class="overlay">
        <div class="overlay-content">
          <h4>Billboard</h4>
          <span>February 2016</span>
        </div>
      </div>
    </a>
  </div>

  <!-- Item -->
  <div class="isotope-item identity">
    <a href="single-project-content-right.html">
      <img src="<%= image_path('project-03-masonry.jpg') %>" alt="">
      <div class="overlay">
        <div class="overlay-content">
          <h4>Coffee Cup</h4>
          <span>January 2016</span>
        </div>
      </div>
    </a>
  </div>

  <!-- Item -->
  <div class="isotope-item identity">
    <a href="single-project-creative-style-2.html">
      <img src="<%= image_path('project-04.jpg') %>" alt="">
      <div class="overlay">
        <div class="overlay-content">
          <h4>Wall Sign</h4>
          <span>December 2016</span>
        </div>
      </div>
    </a>
  </div>

  <!-- Item -->
  <div class="isotope-item print other">
    <a href="single-project-content-right.html">
      <img src="<%= image_path('project-05-masonry.jpg') %>" alt="">
      <div class="overlay">
        <div class="overlay-content">
          <h4>Sketches</h4>
          <span>November 2015</span>
        </div>
      </div>
    </a>
  </div>

  <!-- Item -->
  <div class="isotope-item other">
    <a href="single-project-content-right.html">
      <img src="<%= image_path('project-06.jpg') %>" alt="">
      <div class="overlay">
        <div class="overlay-content">
          <h4>Mobile App</h4>
          <span>November 2015</span>
        </div>
      </div>
    </a>
  </div>

  <!-- Item -->
  <div class="isotope-item print">
    <a href="single-project-content-right.html">
      <img src="<%= image_path('project-07-masonry.jpg') %>" alt="">
      <div class="overlay">
        <div class="overlay-content">
          <h4>Magazine</h4>
          <span>September 2015</span>
        </div>
      </div>
    </a>
  </div>

  <!-- Item -->
  <div class="isotope-item identity">
    <a href="single-project-content-right.html">
      <img src="<%= image_path('project-08.jpg') %>" alt="">
      <div class="overlay">
        <div class="overlay-content">
          <h4>Wall Sign</h4>
          <span>November 2015</span>
        </div>
      </div>
    </a>
  </div>

  <!-- Item -->
  <div class="isotope-item identity print">
    <a href="single-project-content-right.html">
      <img src="<%= image_path('project-09.jpg') %>" alt="">
      <div class="overlay">
        <div class="overlay-content">
          <h4>Shopping Bag</h4>
          <span>November 2015</span>
        </div>
      </div>
    </a>
  </div>

</div>
<!-- Projects / End -->


<!-- Testimonials -->
<section class="section-background with-testimonials" data-background-color="#222c42">

  <h3>Who We Work With</h3>

  <div class="testimonial-carousel full-width arrows">

    <div class="item">
      <div class="testimonial">
        <p>Had I not known to STFU!, I may have blabbed to my buddies how awesome my idea was. Thank You Idyuh! Finally someone has come along to lead me down the path to success!</p>
        <div class="testimonial-author">
          <h4>Nicola Tesla</h4>
          <span>Edison's Companies</span>
        </div>
      </div>
    </div>


    <div class="item">
      <div class="testimonial">
        "<p>"You mean to tell me that I can easily search for existing patents and save money by knowing what has already been claimed? I'm sold!"</p>
        <div class="testimonial-author">
          <h4></h4>
          <span>Google</span>
        </div>
      </div>
    </div>


    <div class="item">
      <div class="testimonial">
        <p>What impressed me was the fast response to questions and helpful community conversation in the support forums.</p>
        <div class="testimonial-author">
          <h4>Thomas Johnson</h4>
          <span>Microsoft</span>
        </div>
      </div>
    </div>

    <div class="item">
      <div class="testimonial">
        <p>Sphene is ridiculously powerful and easy to use, beginner or advanced. Always been on the hunt for handcrafted, clean themes.</p>
        <div class="testimonial-author">
          <h4>John Smith</h4>
          <span>Adobe</span>
        </div>
      </div>
    </div>


  </div>

</section>
<!-- Testimonials / End -->