<div id="header-container" data-background="<%= image_path('service-02-parallax.jpg') %>" data-color="#303133" data-color-opacity="0.6">
<!-- Titlebar
================================================== -->
<div id="titlebar" class="large margin-bottom-0">
  <div class="container">
    <div class="row">
      <div class="col-md-12">

        <h2>Provisional Patent Services</h2>

        <!-- Breadcrumbs -->
        <nav id="breadcrumbs">
          <ul>
            <li><a href="#">Home</a></li>
            <li>Services</li>
          </ul>
        </nav>

      </div>
    </div>
  </div>
</div>

</div>
<div class="clearfix"></div>

<!-- Infobox -->
<div class="info-banner-fw">
  <div class="container">
    <div class="row">
      <div class="col-md-12">Create Your Own Masterpiece <%= link_to 'Start The Patent Process', new_project_path %></div>
    </div>
  </div>
</div>
<!-- Infobox / End -->


<!-- Content
================================================== -->

<!-- Image Edge -->
<div class="image-edge margin-top-0" >

  <div class="edge-bg" data-background-image="<%= image_path('service-02a.jpg') %>"></div>

  <div class="image-edge-content">
    <h2>We're All About Protecting Your Idea</h2>
    <br>
    <p>The very first step to successfully patenting a new idea is discretion.</p>
    <p>You need to file a provisional patent as soon as possible.</p>
    <p>Follow our process and be filing your patent in as little as 20 minutes!</p>
    <br>
    <%= link_to 'Patent Your Idea Now', new_project_path, class: 'button border medium margin-bottom-40' %>
  </div>

</div>
<!-- Image Edge / End -->

<!-- Image Edge -->
<div class="image-edge left dark margin-top-0" >

  <div class="image-edge-content">
    <h2>Maybe You're Not Ready To Patent Yet?</h2>
    <br>
    <p>Idyuh offers a wide variety of services that can help you protect your ideas and identity.</p>
    <br>
    <a href="services-classic.html" class="button border medium margin-bottom-40">Show Me More Services</a>
  </div>

  <div class="edge-bg" data-background-image="<%= image_path('service-02c.jpg') %>"></div>

</div>
<!-- Image Edge / End -->
